th {
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

td {
    font-weight: bold;
}

body {
    background-color: rgba(143, 188, 143, 0.664);
}

.section-index {
    background-image: url(https://images.unsplash.com/photo-1561069157-218187260215?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2FyYmFnZSUyMHBpY2t1cHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: 100%;
  }