{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} All Customers By Day {% endblock %}{% endblock %}

{% block content %}
  <!-- <table class="table table-striped">
    <thead>
      <tr>
          <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> <th>Friday</th>
        <tr>
      </thead>
      <tbody>
        {% for customer in all_customers%} 
          {% if customer.weekly_pickup == "Monday"%}
            <td>{{customer.name}} {{customer.zip_code}}</td>
          {% endif %}
          {% if customer.weekly_pickup == "Tuesday"%}
            <td>{{customer.name}} {{customer.zip_code}}</td>
          {% endif %}
          {% if customer.weekly_pickup == "Wednesday"%}
            <td>{{customer.name}} {{customer.zip_code}}</td>
          {% endif %}
          {% if customer.weekly_pickup == "Thursday"%}
            <td>{{customer.name}} {{customer.zip_code}}</td>
          {% endif %}
          {% if customer.weekly_pickup == "Friday"%}
            <td>{{customer.name}} {{customer.zip_code}}</td>
          {% endif %}
        {% endfor %}          
      </tbody>
  </table> -->


{% endblock %}
