<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          Filter Customers
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item active">Monday</a></li>
          <li><a class="dropdown-item">Tuesday</a></li>
          <li><a class="dropdown-item">Wednesday</a></li>
          <li><a class="dropdown-item">Thursday</a></li>
          <li><a class="dropdown-item">Friday</a></li>
      </div>
    
</body>
</html>


