{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} All Customers By Day {% endblock %}{% endblock %}

{% block content %}
  </head>
  <body>
      <table class="center-table">
          <thead>
              <tr>
                  <th>First Name</th><th>Last Name</th><th>Hire Date</th>
              </tr>
          </thead>
          <tbody>
              {% for instructor in instructors %}
              <tr>
                  <td>{{instructor.first_name}}</td><td>{{instructor.last_name}}</td><td>{{instructor.hire_date}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    
  </body>


{% endblock %}
