{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Friday's Customers {% endblock %}{% endblock %}

{% block content %}

<style>
    body {
        background-color: rgba(143, 188, 143, 0.664);
    }
</style>
<table class="table table-striped">
    <thead>
        <tr>
          <th>Name</th><th>Address</th><th>Zip Code</th> 
        </tr>
    </thead>
    <tbody>
        {% for customer in all_customers%} 
            {% if customer.weekly_pickup == "Friday"%}
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.zip_code}}</td>
            </tr>
            {% endif %}
        {% endfor %}          
    </tbody>
</table>

{% endblock %}