{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!<br />
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
    <h1>Customer Info</h1>
    <table>
      <thead>
        <tr>
            <th>Name</th> <th>Zip Code</th> <th>Pick-up Day</th> <th>One Time Pickup</th>
          <tr>
        </thead>
        <tbody>
          {% for customer in all_customers%}
            {% if customer.suspend_end == True %}
              {% if customer.zip_code == logged_in_employee.zip_code %} 
                {% if customer.weekly_pickup == day_of_week or customer.one_time_pickup == today%}
                  <tr>
                    <td> {{customer.name}} {{customer.zip_code}} {{customer.weekly_pickup}} {{customer.one_time_pickup}}</td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endif %}  
          {% endfor %}          
        </tbody>
    </table>
    {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}



