{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!<br />
    Address: {{ logged_in_employee.address }} {{logged_in_employee.zip_code }}<br />
    <h1>Customer Info</h1>  
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="{% url 'employees:filter_customers' %}" type="button" id="dropdownMenuButton2" 
        data-bs-toggle="dropdown" aria-expanded="false">Filter Customers
      </a>
    </div>
    <table class="center-table">
      <thead>
        <tr>
            <th>Name</th> <th>Zip Code</th> <th>Pick-up Day</th> <th>One Time Pickup</th> <th>Confirm Pickup</th>
          <tr>
        </thead>
        <tbody>
          {% for customer in all_customers%} 
            {% if customer.zip_code == logged_in_employee.zip_code %} 
              {% if customer.weekly_pickup == day_of_week or customer.one_time_pickup == today%}
                {% if today < customer.suspend_start or today > customer.suspend_end or customer.suspend_start == Null %}
                  {% if customer.date_of_last_pickup != today%}
                    <tr>
                      <td>{{customer.name}}</td><td>{{customer.zip_code}}</td>
                      <td>{{customer.weekly_pickup}}</td><td>{{customer.one_time_pickup}}</td>
                      <td><a href="{% url 'employees:charge' customer.id %}" class="btn btn-primary">Confirm Pickup</a></td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}          
        </tbody>
    </table>
    {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}




