{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Tuesday's Customers {% endblock %}{% endblock %}

{% block content %}
<section class="section-tuesday">
    <div class="tuesday-container">
        <body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th><th>Address</th><th>Zip Code</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for customer in all_customers%} 
                        {% if customer.weekly_pickup == "Tuesday"%}
                        <tr>
                            <td>{{customer.name}}</td>
                            <td>{{customer.address}}</td>
                            <td>{{customer.zip_code}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}          
                </tbody>
            </table> 

        </body>
    </div>
</section>
{% endblock %}
                
